<div class="pull-right">
  <%= link_to "Listado", bussines_names_path, class: 'btn btn-light' %>
  <%= link_to "Eliminar", bussines_name_path, method: :delete, class: 'btn btn-dark'  %>
</div>
<div class="clearfix"></div>
<br />

<%= render 'form' %>
